@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/global.css */
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Regular.woff2') format('woff2'),
       url('/fonts/Inter-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

/* Add more @font-face rules for other font weights if needed */

body {
  font-family: 'Inter', sans-serif;
}
